/* HIDE RADIO */
.cardselector {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
.cardselector + img {
    cursor: pointer;
}

/* CHECKED STYLES */
.cardselector:checked + img {
    outline: 2px solid #f00;
}